[Unit]
Description=Nginx Prometheus Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ nginx_user }}
Group={{ nginx_group }}
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter -nginx.scrape-uri http://localhost/metrics
Restart=always

[Install]
WantedBy=multi-user.target