[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart=/usr/local/bin/prometheus \
  --config.file={{ prometheus_config_file }} \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --web.console.templates=/usr/local/share/prometheus/consoles \
  --web.console.libraries=/usr/local/share/prometheus/console_libraries
Restart=always

[Install]
WantedBy=multi-user.target