[Unit]
Description=Blackbox Exporter Service
Wants=network-online.target
After=network-online.target

[Service]
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_group }}
Type=simple
ExecStart=/usr/local/bin/blackbox_exporter \
  --config.file={{ blackbox_exporter_config_file }}
Restart=always

[Install]
WantedBy=multi-user.target